.header__link {
  margin-left: 24px;
  text-decoration: none;
  color: white;
}

.header__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .header__link {
    visibility: hidden;
  }
}