@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);

@import url(./blocks/login-form/login-form.css);
@import url(./blocks/login-form/__title/login-form__title.css);
@import url(./blocks/login-form/__input/login-form__input.css);
@import url(./blocks/login-form/__input-error/login-form__input-error.css);
@import url(./blocks/login-form/__input-error/_visible/login-form__input-error_visible.css);
@import url(./blocks/login-form/__button/login-form__button.css);
@import url(./blocks/login-form/__subtitle/login-form__subtitle.css);
@import url(./blocks/login-form/__link/login-form__link.css);

@import url(./blocks/main/main.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_overlay/popup_overlay_dark.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__edit-form/popup__edit-form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input-text/popup__input-text.css);
@import url(./blocks/popup/__input-text/_type/popup__input-text_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/__save-button/_type/popup__save-button-type-inactive.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__box-image/popup__box-image.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption-image/popup__caption-image.css);
@import url(./blocks/popup/__success/popup__success.css);
@import url(./blocks/popup/__success/_type_true/popup__success_type_true.css);
@import url(./blocks/popup/__success/_type_false/popup__success_type_false.css);
@import url(./blocks/popup/__success/__text/popup__text.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/_opened/header__menu_opened.css);
@import url(./blocks/header/__container/header__container.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__menu-link/header__menu-link.css);
@import url(./blocks/header/__menu-title/header__menu-title.css);
@import url(./blocks/header/__burger/header__burger.css);
@import url(./blocks/header/__burger/_closed/header__burger_closed.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__photo/profile__photo.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/_edit/button_edit_open.css);
@import url(./blocks/button/_add/button_add_open.css);

@import url(./blocks/cards/cards.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__title/card__title.css);
@import url(./blocks/card/__button-like/card__button-like.css);
@import url(./blocks/card/__button-like/_active/card__button-like_active.css);
@import url(./blocks/card/__like-container/card__like-container.css);
@import url(./blocks/card/__like-counter/card__like-counter.css);

@import url(./blocks/footer/footer.css);
