.header {
  margin: 45px auto 0 auto;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 40px;
  display: flex;
}

@media screen and (max-width: 880px) {
  .header {
    padding-left: 27px;
  }
}

@media screen and (max-width: 525px) {
  .header {
    margin-top: 28px;
    padding-bottom: 30px;
  }
}